/* Formatting specific to the StockWatcher application */

html{
	height:100%;
	overflow:hidden !important;
  	background-image: url("images/background.png");
}

body {
	height:100%;
	width:100%;
 	padding: 10px;
  	background-color:transparent !important;
  }

#logo {
	margin-right: auto;
	margin-left: auto;
	width:300px;
	margin-top:25px;
}

#logo img {
	width:100%;
	height:auto;
}

/* tab titles */
.title{
	font-size: 28px !important;
	text-align: center !important;
	font-family: Lucida Grande;
}

/* Facebook like panel */
.fbLikePanel{ 
   border:1px solid green;
   width:300px;
}

#littleSocial{
	position:fixed !important;
	left:70px;
	top:44px;
	display:table;
}

#littleSocial > div{
	display:table-cell;
	vertical-align:top;
}

#littleSocial > iframe{
	display:table-cell;
	vertical-align:top;
}

/* venue list header row */
.venueListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* venue list flex table */
.venueList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  overflow:scroll;
}


/* Update Venues panel */
.updatePanel {
  margin: 10px 0px 15px 0px;
}

.errorMessage {
  color: red;
}

/* login page */
/* welcome text */
.welcomeText {
	font-size: 68px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	position: relative;
	left: 220px;
	color:white;
	padding: 10px;
	margin-top:50px;
}

/* app description */
.appDescription {
	font-size: 18px;
	max-width: 550px;
	float:left;
	margin-left: 200px;
	margin-top: 30px;
	color:white !important;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 20px;
}

/* sign in link */
.signInLink {
	width:300px;
	font-size: 78px;
	text-decoration: none;
	text-align: center;
	color:white !important;
	background-color: #ffcc00;
	position: absolute;
	right: 300px;
	top: 325px;
	left: 830px;
	border-radius: 20px;
	padding: 10px;
	padding-bottom:20px;
}

#googleLoginMessage {
	margin-left:350px;
	margin-top:25px;
}



/* sign out link */
#signOutLink {
  position: fixed;
  top: 25px;
  right: 80px;
  padding: 10px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("signout.png");
  height: 24px;
  width: 24px;
  border-radius: 25px;
  border: solid black 2px;
}

#signOutLink:hover{
  background-image: url("signout.gif");
}

/* tabs */


/* 	Styling for empty span in BingeHopper.html
	Used for app background.
 */
#VenueListBackground {
	position:fixed;
	background-color:white;
	opacity:.75;
	right:100px;
	left:170px;
	top:100px;
	bottom:10px;
	border-radius: 25px;
	z-index:-1;
	
}

.gwt-TabPanelBottom {
	position:fixed;
	overflow: scroll !important;
	right:100px;
	left:170px;
	top:100px;
	bottom:10px;
	border: none !important;
	background-color: none;
	border-radius: 25px;
}

.gwt-TabPanelBottom > div{
	height: auto !important;
}

.gwt-TabPanelBottom * {
	background:none;
}

.gwt-Label {
	color: #4b4a4a;
	text-shadow: 1px 1px 0 #ddf;
	padding-right:5px;
	padding-left:5px;
	font-size: 16px;
	font-weight:500;
}

.GPBYFDEGE {
	Border-top: 1px solid black;
	margin-top: 20px;
}

.GPBYFDEFD{
	padding-top:0px;
	padding-bottom:0px;
}

.fbLikePanel{
	background-color:white;	
}

.tabs {
	padding-left: 175px;
	padding-right: 125px;
}

.tabElement {
	display:table;
	width:0px !important;
	margin-right:auto;
	margin-left:auto;
}

/* tabBar */
.gwt-TabBar {
	position: absolute;
	margin-top:150px;
	padding: 20px;
	transform: rotate(90deg);
	transform-origin: 0px 0px;
}

.gwt-TabBarItem {
	background-color: white !important;
	transform: rotate(-90deg);
	width: 65px;
	height: 65px;
	border-radius: 25px;
}

.gwt-TabBarItem-selected {
	background-color: #b3dbd6 !important;
}

/* tabIcon */
.tabIcon {
	width: 35px;
	height: 35px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
}
