/* Formatting specific to the StockWatcher application */

body {
  padding: 10px;
}


/* Facebook like panel */
.fbLikePanel{ 
   border:1px solid green;
}

/* venue list header row */
.venueListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* venue list flex table */
.venueList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* Update Venues panel */
.updatePanel {
  margin: 10px 0px 15px 0px;
}

.errorMessage {
  color: red;
}

/* login page */
/* welcome text */
.welcomeText {
	font-size: 68px;
	text-align: center;
	position: relative;
	left: 30%;
}

/* app description */
.appDescription {
	font-size: 18px;
	max-width: 550px;
	float:left;
	padding-left: 200px;
	
}

/* sign in link */
.signInLink {
	font-size: 78px;
	text-decoration: none;
	position: absolute;
	top: 300px;
	padding-left: 950px;
}